@media only screen and (min-width: 981px)and (max-width:1400px) {

    /*laptop and small lcd [1001px -> 1200px]*/
    .hero-bg-img {
        height: 30rem;
        background-image: url(../Pictures/about-us.png);
        background-size: cover;
    }

    .main-div {
        height: 30rem;
        background-color: hsl(233deg 32% 27% / 50%);
    }

    .main-navbar {
        height: 16%;
    }

    .navbar {
        width: 90%;
        height: 70%;
    }

    .header-left {
        width: 25%;
        justify-content: flex-start;
    }

    .header-left-box {
        width: 90%;
    }
    .ceo-message-main-div {
        height: 57rem;
    }
    .ceo-message-top-heading-div {
        width: 90%;
    }
    .ceo-message-bottom-box {
        width: 90%;
    }
    .ceo-message-img-div {
        width: 80%;
        left: 10%;
    }
    .ceo-message-text-name{
        width: 85%;
    }
    .ceo-message-top-imfo-div {
        justify-content: flex-end;
    }
    .ceo-massage-top-info-box{
        width: 35%;
        height: 100%;
        align-items: end;
        justify-content: flex-end;
    }
    .our-approach-box {
        width: 90%;
    }

    .choose-us-benefit {
        height: 65%;
    }

    .choose-us-benefit-ul {
        width: 90%;
        height: 70%;
    }
    .choose-us-title{
        font-size: 1.2rem;
    }

    .choose-us-counter-div {
        width: 95%;
        justify-content: space-between;
    }
    .choose-us-description {
        height: 40%;
        line-height: 1.5rem;
    }

    .sponsor-1 {
        width: 90%;
    }
    .sponsor-1-1-img-icon {
        height: 70%;
    }
    .our-team-div {
        width: 90%;
    }
    .div-our-customers {
        width: 90%;
    }

    .our-customers-bottom {
        width: 95%;
    }
    .left-footer-center{
        width: 100%;
    }
    .footer-box {
        width: 95%;
    }
    .left-footer-center input{
        width: 65%;
    }

    .left-footer-center-btn {
        right: 33%;
    }
    .footer-center-heading-div {
        width: 65%;
    }
    .footer-right-icon-contact {
        width: 10%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 980px) {
    /*tablet [601px -> 1000px]*/

    #scroll-progress-bar {
        display: none;
    }

    .hero-bg-img {
        height: 25rem;
        background-image: url(../Pictures/about-us-1.png);
        background-size: cover;
    }

    .main-div {
        height: 25rem;
        background-color: hsl(233deg 32% 27% / 50%);
    }

    .main-navbar {
        height: 20%;
    }

    .navbar {
        width: 100%;
        height: 70%;
    }

    .header-right-ul-li-a {
        font-size: 1rem;
    }

    .header-left {
        width: 25%;
        justify-content: flex-start;
    }

    .header-left-box {
        width: 90%;
    }

    .header-right-box-btn {
        margin-right: 10px;
    }

    .header-right-btn {
        font-size: 1rem;
        height: 2.2rem;
        width: 7rem;
    }

    .ceo-message-top-heading-div {
        width: 90%;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .ceo-message-top-heading-p {
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    .ceo-message-bottom-box {
        width: 90%;
    }
    .ceo-message-img-div {
        width: 100%;
        height: 95%;
        left: -7%;
    }
    .ceo-message-text-name {
        width: 90%;
        height: 25%;
    }
    .ceo-message-right-div {
        width: 63%;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .ceo-message-top-imfo-div{
        align-items: flex-end;
    }
    .ceo-massage-top-info-box{
        width: 77%;
        height: 50%;
    }
    .our-approach-box {
        width: 90%;
    }
    .our-approach-left {
        width: 55%;
    }
    .company-overview-info {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .our-approach-right
    {
        width: 40%;
    }
    .our-approach-img-div {
        width: 90%;
    }
    .choose-us-div{
        height: 25rem;
    }
    .choose-us-heading-div {
        height: 30%;
        font-size: 2rem;
    }
    .choose-us-heading{
        height: 20%;
    }
    .choose-us-benefit-ul {
        width: 95%;
        height: 100%;
    }

    .choose-us-benefit-ul-li {
        width: 23%;
        height: 90%;
    }

    .choose-us-p-div {
        font-size: 1rem;
    }

    .choose-us-counter-div {
        width: 95%;
        justify-content: space-between;
    }

    .choose-us-title {
        font-size: 1rem;
        height: 18%;
    }

    .choose-us-description {
        width: 90%;
        font-size: 0.8rem;
        line-height: 15px;
        align-items: self-start;
    }

    .choose-us-counter-div-1-2 {
        font-size: 0.8rem;
    }

    .choose-us-counter-div-1-1 {
        font-size: 2.5rem;
    }

    .choose-us-counter-div-1 {
        width: 25%;
    }

    .affiliations {
        font-size: 2rem;
    }

    .sponsor {
        height: 8rem;
    }

    .sponsor-1 {
        width: 95%;
        height: 75%;
    }

    .sponsor-1-1-img-icon {
        height: 50%;
    }

    .sponsor-1-1-text {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .full-line {
        height: 6%;
    }
    .our-team-main-div {
        height: 25rem;
        position: relative;
        z-index: 0;
    }
    .our-team-div {
        width: 90%;
        height: 90%;
    }
    .our-team-heading-div {
        text-align: center;
    }


    .div-our-customers {
        width: 90%;
    }
    .our-team-heading-div{
        font-size: 1rem;
    }
    .team-detail-div {
        font-size: 1rem;
    }
    .team-posotion {
        font-weight: normal;
        font-size: 0.6rem;
    }
    .our-team-heading {
        font-size: 2rem;
    }
    .our-customers-heading p{
        width: 70%;
        box-sizing: border-box;
        padding-left: 6rem;
    }
    .our-customers-bottom {
        width: 95%;
    }
    .star-cls{
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;
    }
    .our-customers-right {
        font-size: 1.5rem;
        line-height: 35px;
    }
    .footer-box {
        width: 95%;
    }
    .footer-logo-div img {
        width: 80%;
    }
    .left-footer-center input {
        font-size: 1.1rem;
        width: 65;
    }
    .left-footer-center {
    width: 100%;
    }

    .left-footer-center-btn {
        font-size: 1rem;
        right: 33%;
        bottom: 45%;
    }
    .footer-center-heading-div {
        width: 70%;
    }

    .footer-center-div {
        width: 40%;
    }
    .footer-right-div {
        width: 60%;
    }
    .footer-center-heading-div {
        width: 90%;
    }
    .footer-right-icon-contact {
        width: 15%;
    }
    .footer-right-contact-detail {
        width: 85%;
        font-size: 1.2rem;
        line-height: 25px;
    }
    .footer-center-div-1-1 {
        width: 25%;
    }
}

@media only screen and (max-width: 768px) {

    /*smartphones [768px]*/
    #scroll-progress-bar {
        display: none;
    }
    .loader-img {
        width: 80%;
    }
    .ms-header-box{
        display: flex;
        width: 100%;
        height: 95rem;
    }

    .hero-bg-img {
        height: 20rem;
        background-image: url(../Pictures/about-us-2.png);
        background-size: cover;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .main-div {
        height: 20rem;
    }

    .main-navbar {
        height: 20%;
        color: white;
        font-size: 2rem;
        box-sizing: border-box;
        padding-right: 1.25rem;
        align-items: center;
    }

    .navbar {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }

    .ms-nav-icon {
        display: none;
        z-index: 99999;
    }

    .header-left {
        width: 65%;
        box-sizing: border-box;
        padding: 20px;
        justify-content: flex-start;
    }

    .sm-nav-main-div {
        width: 100%;
        height: 60rem;
        flex-direction: column;
        align-items: flex-end;
        position: fixed;
        display: flex;

    }

    .ms-navbar {
        width: 50%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.842);
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 10px 3px #2F345B;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        top: 0%;
        right: -60%;
    }

    .sm-nav-main-div-cross {
        width: 100%;
        height: 5%;
        color: #2F345B;
        font-size: 1.8rem;
        justify-content: right;
        box-sizing: border-box;
        padding-right: 1.25rem;
    }

    .sm-nav-main-div-ul {
        width: 100%;
        height: 25%;
        color: #2F345B;
        font-family: zurchn-regular;
        font-size: 1.2rem;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .sm-nav-main-div-ul li {
        width: 100%;
        height: 10%;
        box-sizing: border-box;
        padding: 1.25rem;
        display: flex;
        align-items: center;
    }

    .sm-nav-main-div-ul li:hover {
        width: 100%;
        background-color: rgba(73, 73, 73, 0.164);
    }

    .sm-nav-main-div-btn {
        width: 100%;
        height: 20%;
    }

    .sm-nav-main-div-btn button {
        background-color: #2f345b;
        color: white;
        font-family: 'zurchn-regular';
        font-size: 1rem;
        width: 60%;
        height: 20%;
        border: none;
        border-radius: 0.5rem;
    }
    .contact-nav-div{
        width: 100%;
        height: 50%;
        align-items: self-start;
        justify-content: flex-start;
        padding: 0px 10px;
    }
    .contact-nav-div-ul {
        width: 90%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .contact-nav-div-ul-li{
        color: #2F345B;
        font-family: zurchn-regular;
        font-size: 0.8rem;
        line-height: 1rem;
    }


    .main-div-p {
        font-size: 2.5rem;
        text-align: center;
        letter-spacing: 0.2rem;
    }

    .header-right {
        display: none;
    }
    .ceo-message-main-div{
        position: absolute;
        top: 20rem;
        height: 75rem;
    }   

    .ceo-message-top-div {
        width: 100%;
        height: 25%;
    }    
    .ceo-message-top-heading-div {
        width: 90%;
        height: 70%;
        font-size: 0.8rem;
        text-align: center;
        line-height: 1rem;
    }
    .ceo-message-top-heading-p {
        font-family: zurchn-regular;
        color: white;
        font-size: 1.5rem;
        padding-bottom: 0.8rem;
        line-height: 1.5rem;
    }

    .ceo-message-top-imfo-div {
        width: 100%;
        height: 30%;
        justify-content: flex-end;
    }
    .ceo-message-top-imfo-div p {
        font-family: zurchn-regular;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .ceo-message-bottom-div {
        height: 75%;
    }
    .ceo-message-bottom-box {
        width: 90%;
        flex-direction: column;
        justify-content: flex-end;
    }
    .ceo-message-left-div {
        width: 100%;
        height: 40%;
        justify-content: center;
    }

    .ceo-message-img-div {
        width: 70%;
        height: 80%;
        position: static;
    }

    .ceo-message-text-name p {
        text-align: center;
    }
    .ceo-message-text-name {
        width: 75%;
        height: 25%;
        font-size: 1.5rem;
    }
    .ceo-message-text-name span {
        font-size: 1rem;
        width: 62%;
    }
    .ceo-message-right-div {
        width: 90%;
        height: 55%;
        font-family: zurchn-regular;
        font-size: 0.9rem;
        text-align: justify;
        line-height: 1rem;
        color: #2f345b;
    }
        .our-Approach-div{
        position: relative;
        z-index: 0;
    }
    .our-approach-box {
        width: 90%;
        height: 100%;
        flex-direction: column;
    }
    .our-approach-left {
        width: 100%;
        height: 45%;
    }
    .heading-company-overview,
    .heading-our-vision,
    .heading-our-mission{
        font-size: 1.5rem;
    }

    .our-approach-right{
        width: 90%;
        height: 50%;
    }
    .our-approach-img-div {
        width: 100%;
        height: 100%;

    }
    .choose-us-div {
        width: 100%;
        height: 90rem;
        position: relative;
        z-index: 0;
    }
    .choose-us-heading-div {
        font-size: 1.5rem;
    }
    .choose-us-heading {
        height: 7%;
    }
    .choose-us-p-div {
        font-size: 1rem;
        text-align: center;
        box-sizing: border-box;
        padding: 0px 20px;
        line-height: 1.5rem;
    }
    .choose-us-benefit {
        height: 63%;
    }
    .choose-us-benefit-ul {
        width: 90%;
        height: 90%;
        flex-direction: column;
    }
    .choose-us-benefit-ul-li {
        width: 80%;
        height: 23%; 
    }
    .choose-us-description {
        width: 90%;
        height: 40%;
        line-height: 1.5rem;
    }
    .choose-us-counter-div {
        height: 30%;
        flex-direction: column;
    }
    .choose-us-counter-div-1 {
        width: 100%;
        height: 50%;
    }
    .choose-us-counter-div-1-2 {
        width: 100%;
        height: 25%;
    }
    .affiliations {
        height: 3rem;
        font-size: 1.3rem;
        position: relative;
        z-index: 0;
    }
    .sponsor {
        width: 100%;
        height: 20rem;
        position: relative;
        z-index: 0;
    }
    .sponsor-1 {
        width: 90%;
        height: 100%;
        flex-direction: column;
    }
    .sponsor-1-01 {
        width: 100%;
        height: 40%;
    }
    .sponsor-1-1-img {
        width: 30%;
        height: 70%;
    }
    .sponsor-1-1-text {
        width: 70%;
        line-height: 1.5rem;
    }
    .blog-review-line{
        position: relative;
        z-index: 0;
    }

    .our-team-div {
        width: 90%;
    }

    .our-team-heading-div {
        width: 100%;
        height: 25%;
        font-size: 1rem;
        text-align: center;
    }
    .our-team-heading {
        font-size: 2rem;
    }
    .our-team-info-1-div {
        width: 70%;
        height: 55%;
        justify-content: center;
    }
    .team-info-1 {
        width: 100%;
        height: 100%;
    }
    .team-info-img-2,
    .team-info-img-3,
    .team-info-img-4{
        display: none;
    }

    .main-div-our-customers {
        height: 25rem;
        position: relative;
        z-index: 0;
    }
    .div-our-customers {
        width: 90%;
    }
    .our-customers-heading p {
        width: 70%;
        justify-content: center;
        display: flex;
    }
    .our-customers-heading {
        height: 15%;
        font-size: 1.5rem;
    }
    .our-customers-text {
        flex-direction: column;
        height: 85%;
    }
    .our-customers-left {
        width: 100%;
        height: 45%;
    }
    .circle-img {
        width: 125px;
    }
    .our-customers-star-cls {
        font-size: 1rem;
        width: 20px;
        height: 20px;
        line-height: 20px;
    } 
    .star-cls {
        font-size: 1rem;
        width: 20px;
        height: 20px;
        line-height: 20px;
    } 
    .our-customers-right {
        width: 90%;
        padding: 0px;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .our-customers-bottom-div {
        height: 3rem;
        position: relative;
        z-index: 0;
    }
    .our-customers-bottom {
        font-size: 1rem;
    }
    .main-footer-div {
        width: 100%;
        height: 10rem;
        position: relative;
        z-index: 0;
    }
    .footer-box {
        width: 95%;
        height: 95%;
    }
    .footer-box-top {
        display: none;
    }
    .footer-center-div-1-1 {
        width: 50%;
    }
    .footer-box-bottom {
        height: 50%;
    }
    .left-footer-center-bottom {
        justify-content: center;
    }
    .footer-center-icon-cls {
        font-size: 1.2rem;
        width: 30px;
        height: 30px;
    }
    .footer-e-mail-div-2 {
        display: flex;
        width: 100%;
        height: 50%;
        justify-content: center;
    }
    .left-footer-center input {
        border-bottom: 2px solid #2f345b;
    }
    .left-footer-center input {
        width: 87%;
    }



    .left-footer-center-btn {
        font-size: 1rem;
        border-radius: 5px;
        right: 11%;
        bottom: 30%;
    }

    .footer-bottom {
        width: 100%;
        height: 30%;
    }
}