@font-face {
    font-family: zurch-narrow;
    src: url('../fonts/zurch.ttf');
}
@font-face {
    font-family: zurchbci-NBI;
    src: url('../fonts/zurchbci.ttf');
}
@font-face {
    font-family: zurchci-NI;
    src: url('../fonts/zurchci.ttf');
}
@font-face {
    font-family: zurchk-bold;
    src: url('../fonts/zurchk.ttf');
}
@font-face {
    font-family: zurchk-BI;
    src: url('../fonts/zurchki.ttf');
}
@font-face {
    font-family: zurchl-light;
    src: url('../fonts/zurchl.ttf');
}
@font-face {
    font-family: zurchn-regular;
    src: url('../fonts/zurchn.ttf');
}


/* Hide scrollbar for all browsers */
html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}


#scroll-progress-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 6px; /* Thickness */
    height: 0%; /* Now height will change, not width */
    background-color: #C59C3D; /* Your main color */
    z-index: 999999;
    transition: height 0.4s ease-out;
}
.hero-bg-img{
    width: 100%;
    height: 90vh;
    background-image: url(../Pictures/picture-1.jpg);
}
.main-div{
    width: 100%;
    height: 90vh;
    background-color:hsl(233deg 32% 27% / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.main-navbar{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    top: 0px;
}
.navbar{
    width: 70%;
    height: 70%;
    /* background-color: greenyellow;   */
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-left{
    width: 30%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-left-box{
    width: 80%;
    height: 100%;
    /* background-color: paleturquoise; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{
    width: 100%;
}
.header-right{
    width: 70%;
    height: 95%;
    background-color: hsl(0deg 0% 100% / 71%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.header-right-box{
    width: 80%;
    height: 100%;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right-ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.header-right-ul-li-a{
    font-family: zurchn-regular;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
    color: #2F345B;
    text-transform: capitalize;
}
.header-right-box-btn{
    width: 20%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right-btn{
    font-family: zurchn-regular;
    font-weight:500;
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    background-color: #2F345B;
    border: none;
    border-radius: 15px;
    height: 45px;
    width: 135px;
}
.main-div-p{
    font-family: zurchn-regular;
    font-size: 40px;
    color: white;
    text-transform: capitalize;
}
.search-bar-div{
    width: 100%;
    height: 10vh;
    /* background: #000; */
    position: relative;
}
.search-lable-div{
    width: 70%;
    height: 30%;
    /* background-color: rebeccapurple; */
    position: absolute;
    top: -55%;
    left: 15%;
}
.search-lable{
    width: 71.5%;
    height: 100%;
    /* background-color: gainsboro; */
}
.search-lable-ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 10px;
    box-sizing: border-box;
}
.search-lable-ul-li{
    font-family:zurchn-regular ;
    font-size: 18px;
    color: white;
    text-transform: capitalize;
}
.search-div{
    width: 75%;
    height: 55%;
    background-color: #f2cd74;
    position: absolute;
    top: -25%;
    left: 15%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.search-div-patition{
    width: 30%;
    height: 100%;
    position: relative;
}
.search-div-select{
    width: 100%;
    height: 100%;
    display: flex;
    background: none;
    border: none;
    padding: 0px 10px;
    box-sizing: border-box;
    color: #2F345B;
    font-family:zurchn-regular;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
     appearance: none;
    -webkit-appearance: none;
}
.select-option-create-down{
    font-size: 40px;
    color: #c59c3d;
    position: absolute;
    top: 15%;
    right: 3%;
}
.search-div-select-option{
    background-color: #f2cd74;
    width: 80%;
    height: 100%;
}
select:focus{
    outline:none;
    border:none;
    box-shadow:none;
}
.search-div-btn{
    width: 10%;
    height: 100%;
    background-color: #2F345B;
    border: none;
    padding: 0px 10px;
    box-sizing: border-box;
    color: #f2cd74;
    font-family:zurchn-regular ;
    font-size: 25px;
    text-transform: capitalize;
    border-radius: 0px 15px 15px 0px;
}
.choose-us-div{
    width: 100%;
    height: 80vh;
    /* background-color: rebeccapurple; */
    background-image: url(../Pictures/map.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose-us-heading{
    width: 100%;
    height: 20%;
    /* background-color: red; */
}
.choose-us-heading-div{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:zurchk-bold ;
    font-size: 40px;
    color: #2F345B;
    text-transform: uppercase;
}
.choose-us-p-div{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: zurchn-regular;
    font-size: 25px;
    color: #2F345B;
    text-transform: capitalize;
}
.choose-us-benefit{
    width: 100%;
    height: 60%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose-us-benefit-ul{
    width: 70%;
    height: 70%;
    /* background:red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choose-us-benefit-ul-li{
    width: 20%;
    height: 100%;
    background-color: #c59c3d;
    border-radius: 15px;
}
.choose-us-benefit-ul-li:hover{
    box-shadow: 0px 0px 8px 1px #2F345B;
}
.choose-us-benefit-ul-li-div{
    width: 100%;
    height: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.choose-us-img{
    width: 100%;
    height: 20%;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.choose-us-img-icon{
    height: 100%;
}
.choose-us-title{
    width: 100%;
    height: 25%;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:zurchl-light;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    color: white;
}
.choose-us-description{
    width: 85%;
    height: 20%;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: zurchn-regular;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 30px;
    color: white;
    text-align: center;
}
.choose-us-counter-div{
    width: 80%;
    height: 20%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
}
.choose-us-counter-div-1{
    width: 17%;
    height: 100%;
    /* background: red; */
}
.choose-us-counter-div-1-1{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: zurchn-regular;
    text-transform: uppercase;
    font-size: 50px;
    color: #2F345B;
}
.choose-us-counter-div-1-2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: zurchn-regular;
    text-transform: capitalize;
    font-size: 20px;
    color: #2F345B;
}
.star-cls {
    background-color: #2F345B;
    color: white;
    font-size: 20px;
    width: 30px;           
    height: 30px;             
    line-height: 30px;        
    text-align: center;       
    border-radius: 4px;
    margin: 5px;
  }
.affiliations{
    width: 100%;
    height: 8vh;
    background-color:#2F345B;
    font-family: zurchn-regular;
    font-size: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.sponsor{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sponsor-1{
    width: 80%;
    height: 80%;
    /* background-color:rgb(43, 226, 186); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sponsor-1-01{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponsor-1-1{
    width: 95%;
    height: 95%;
    background-color: #c59c3d;
    border-radius: 15px;
    display: flex;
}
.sponsor-1-1:hover , .sponsor-1-2:hover{
    width: 97%;
    height: 97%;
    box-shadow: 0px 0px 8px 1px #2F345B;
    transition-duration: 1s;
}
.sponsor-1-1-img{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponsor-1-1-img-icon{
    height: 80%;
}
.sponsor-1-2-img-icon{
    width: 75%;
}
.sponsor-1-2{
    width: 95%;
    height: 95%;
    background-color: #c59c3d;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponsor-1-1-text{
    width: 80%;
    height: 100%;
    font-family: zurchn-regular;
    font-size: 17px;
    text-transform: capitalize;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3vh;
    text-align: center;
    padding-right: 10px;
}
.services-main-div{
    width: 100%;
    height: 70vh;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
}
.services-left-angle{
    font-size: 50px;
    font-weight: bold;
    display: none;
}
/* When hovering over the main div, show the arrows */
.services-main-div:hover .services-left-angle {
    display: block;
}
.services-div{
    width: 80%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-left{
    width: 45%;
    height: 100%;
    /* background-color: #f2cd74; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-left-box{
    width: 90%;
    height: 100%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content:end;
}
.services-img-div{
    width: 30%;
    height: 30%;
    /* background-color: gray; */
    position: absolute;
    top: -20%;
    left: 35%;
}
.services-img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 1px #2F345B;
}
.services-text-div{
    width: 100%;
    height:80%;
    /* background-color: green; */
    position: relative;
}
.services-text-box{
    width: 100%;
    height: 95%;
    background-color: #c59c3d;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
}
/* Target the heading inside services-text-box when hovering */
.services-text-box:hover {
    background-color: #f2cd74; /* New background on hover */
    box-shadow: 0px 0px 12px 1px #2F345B;
    transition-duration: 1s;
}
.services-text-box-div{
    width: 100%;
    height: 70%;
    /* background-color: red; */
}
.services-heading{
    color: #2F345B;
    font-family:zurchn-regular ;
    font-weight: bold;
    font-size: 40px;
    text-transform:uppercase;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 25px;
}
.services-detail{
    font-family: zurchn-regular;
    font-size: 26px;
    color:white ;
    box-sizing: border-box;
    padding: 0px 25px;
    text-align: center;
    line-height: 40px;
}
.services-right{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #c59c3d; */
}
.services-dots-div{
    width: 100%;
    height: 5vh;
    /* background-color: green; */
    display: flex;
    justify-content: center;
}
.services-dots{
    width: 10%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dot-1{
    width: 15px;
    height: 15px;
    background-color: #f2cd74;
    transform: rotate(45deg);
    border-radius: 2px;
}
/* Active dot color */
.services-dots .dot-1.active {
    background-color: #2F345B; /* active color */
}
.exhibitions-left{
    width: 35%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.exhibitions-img-div{
    width: 90%;
    height: 85%;
    /* background-color: #C59C3D; */
    border-radius: 20px;
}
.exhibitions-img-div img{
    height: 100%;
    border-radius: 20px;
}
.exhibitions-right{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.exhibitions-text-div{
    width: 90%;
    height: 85%;
    /* background-color: #C59C3D; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.exhibitions-div-logo{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}
.exhibitions-div-logo img{
    height: 70%;
}
.exhibitions-div-detail{
    width: 100%;
    height: 15%;
    /* background-color: red; */
    font-family: zurchn-regular;
    font-size: 25px;
    line-height: 40px;
    text-transform:capitalize ;
    color: #2F345B;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.exhibitions-div-date{
    width: 100%;
    height: 30%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.exhibitions-div-date i {
    font-size: 50px;
    color: #C59C3D;
}
.exhibitions-div-date p{
    box-sizing: border-box;
    padding-top: 25px;
    font-family: zurchn-regular;
    font-size: 40px;
    color: #2F345B;
}
.exhibitions-div-location{
    width: 100%;
    height: 30%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.exhibitions-div-location i {
    font-size: 50px;
    color: #C59C3D;
}
.exhibitions-div-location p{
    box-sizing: border-box;
    padding-top: 25px;
    font-family: zurchn-regular;
    font-size: 30px;
    color: #2F345B;
    text-align: center;
}
.exhibitions-div-slider{
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.exhibitions-left-angle{
    font-size: 50px;
    font-weight: bold;
    display: none;
}
/* When hovering over the main div, show the arrows */
.services-main-div:hover .exhibitions-left-angle {
    display: block;
}
.exhibitions-div-slider p{
    font-family: zurchn-regular;
    font-weight: 700;
    font-size: 30px;
    color: #2F345B;
}

.exhibitions-div-slider-span {
    color: #f2cd74;
    animation: count-up 25s infinite;
  }
  .exhibitions-div-slider-span-1 {
    color: #C59C3D;
  }
  
  @keyframes count-up {
    0%, 20% { content: "1"; }
    20%, 40% { content: "2"; }
    40%, 60% { content: "3"; }
    60%, 80% { content: "4"; }
    80%, 100% { content: "5"; }
  }

.exhibitions-slider-line {
    width: 20%;
    height: 10%;
    background-color: #C59C3D;
    position: relative;
    overflow: hidden;
}
.exhibitions-slider-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f2cd74;
    animation: fillRight 3000ms linear forwards infinite;
}

@keyframes fillRight {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.ex-blog-line{
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.full-line{
    width: 100%;
    height: 10%;
    background-color: #2F345B;
}
.blog-main-div{
  width: 100%;
  height: 55vh;
  /* background-color: green;   */
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-center-main-div{
    width: 80%;
    height: 100%;
    /* background-color: yellow; */
}

.blog-heading{
    width: 100%;
    height: 15%;
    /* background-color: green; */
    color: #C59C3D;
    font-family:zurchn-regular ;
    font-size: 50px;
    font-weight: bold;
    align-items: top;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
.blog-detail-div{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-detail-box{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C59C3D;
    border-radius: 15px;
    /* background-color: rebeccapurple; */
    margin: 10px;
}
.blog-left-div{
    width: 30%;
    height: 100%;
    background-image: url(../Pictures/image.png);
    background-size: cover;
    border-radius: 15px 0px 0px 15px;
}
.blog-right-div{
    width: 70%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-right{
    background-image: url(../Pictures/map-light.png);
    background-size: cover;
    width: 95%;
    height: 95%;
    text-align: center;
}
.blog-content-heading-div{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-content-heading{
    color: white;
    font-family: zurchn-regular;
    font-weight: 550;
    font-size: 35px;
}
.blog-content-div{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.blog-content{
    color: white;
    font-family: zurchn-regular;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
.blog-btn-div{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.blog-btn{
    border: none;
    background-color: #2F345B;
    color: white;
    font-family: zurchn-regular;
    font-size: 23px;
    border-radius: 7px;
    width: 14%;
    height: 100%;
}
.blog-left-angle{
    font-size: 50px;
    font-weight: bold;
    display: none;
}
/* When hovering over the main div, show the arrows */
.blog-main-div:hover .blog-left-angle {
    display: block;
}
.blog-review-line{
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-div-our-customers{
    width: 100%;
    height: 40vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-our-customers{
    width: 70%;
    height: 100%;
    /* background-color: green; */
}
.our-customers-heading{
    width: 100%;
    height: 20%;
    color: #C59C3D;
    font-family: zurchn-regular;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.our-customers-text{
    width: 100%;
    height: 80%;
    display: flex;
}
.our-customers-left{
    width: 25%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle-img{
    width: 200px;
    height: 200px;
    background-image: url(../Pictures/image\ 3.png);
    background-size: cover;
    /* background-color: red; */
    border-radius: 100px;
}
.our-customers-star-cls {
    background-color: #2F345B;
    color: white;
    font-size: 20px;
    width: 30px;           
    height: 30px;             
    line-height: 30px;        
    text-align: center;       
    border-radius: 4px;
    margin: 5px;
  }
  .our-customers-right{
    width: 75%;
    height: 100%;
    /* background-color: red; */
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .our-customers-right{
    font-family: zurchn-regular;
    color: #2F345B;
    font-size: 30px;
    line-height: 45px;
    text-align: justify;
  }
  .our-customers-bottom-div{
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .our-customers-bottom{
    width: 80%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    color: #2F345B;
    font-family: zurchn-regular;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
  }
 .our-customers-bottom-left-arrow{
    height: 50%;
  }
  .main-footer-div{
    width: 100%;
    height: 50vh;
    background-color: #c59c3d;
    background-image: url(../Pictures/bildings.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-bottom{
    width: 100%;
    height: 10%;
    background-color: #f2cd74;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C59C3D;
    font-family: zurchn-regular;
}
  .main-footer{
    width: 70%;
    height: 100%;
    /* background-color: #2F345B; */
  }
  .footer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left-footer{
    /* background-color: red; */
    width: 33.3333%;
    height: 100%;
  }
  .left-footer-top{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
  }
  .left-footer img{
    width: 75%;
  }
  .left-footer-center{
    width: 100%;
    height: 40%;
    position: relative;
    display: flex;
    align-items: center;
  }
  .left-footer-center input{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #2F345B;
    color: white;
    font-family:zurchn-regular ;
    font-size: 30px;
  } 
  .left-footer-center input:focus, input:focus{
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #f2cd74;
  }
  .left-footer-center-btn{
    color: white;
    background-color: #2F345B;
    font-family: zurchn-regular;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    right: 19%;
  }
  .left-footer-center-bottom{
    width: 100%;
    height: 30%;
  }
  .footer-center-div-1-1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
    .footer-center-icon-cls {
        background-color: #f2cd74;
        color: #2F345B;
        font-size: 25px;
        width: 40px;           
        height: 40px;        
        display: flex; 
        align-items: center;
        justify-content: center;      
        border-radius: 4px;
    }
  .center-footer{
    /* background-color: green; */
    width: 33.3333%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .footer-center-heading-div{
    width: 50%;
    height: 85%;
  }
  .footer-center-heading-div ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-evenly;
    color: white;
  }
  .footer-center-heading-div ul li a {
    color: white;
    letter-spacing: 1.2px;
    font-size: 20px;
    font-weight: bold;
  }
  .right-footer{
    /* background-color: yellow; */
    width: 33.3333%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: top;
  }
  .contact-right-ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}
.contact-right-ul-li{
    font-family: zurchn-regular;
    font-size: 19px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    line-height: 35px;
}
.footer-right-heading-div{
    width: 75%;
    height: 65%;
    display: flex;
  }
  .contact-right-ul-li-p{
    color: #2F345B;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .contact-right-ul li{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-icon{
    color: #f2cd74;
    font-size: 30px;
    padding-right: 15px;
  }