@font-face {
    font-family: zurchn-regular;
    src: url("../fonts/zurchn.ttf");
}

a {
    text-decoration: none;
    color: #2f345b;
}








.sm-nav-main-div {
    display: none;
}

.ms-nav-icon {
    display: none;
}

.ms-header-box {
    display: none;
}

/* Preloader styling */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* background-image: url(../Pictures/loder-backgound-1.png);
    background-size: cover; */
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* Loader styling */
.loader {
    width: 400px;
    /* Adjust based on your logo size */
    height: 400px;
    /* Adjust based on your logo size */
    overflow: hidden;
    z-index: 9999;
}

/* Loader image styling */
.loader-img {
    width: 100%;
    height: auto;
    clip-path: inset(0 100% 0 0);
    /* Initially hides the image */
    animation: slideImage 2s steps(20) infinite;
    /* Adjust number of steps based on logo width */
    z-index: 9999;
}

/* Animation to reveal the image */
@keyframes slideImage {
    to {
        clip-path: inset(0 -100% 0 0);
        /* Reveals the image by animating the clip-path */
    }
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hide scrollbar for all browsers */
html::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

#scroll-progress-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    /* Thickness */
    height: 0%;
    /* Now height will change, not width */
    background-color: #c59c3d;
    /* Your main color */
    z-index: 9989;
    transition: height 1s ease-out;
}

.scroll-div {
    height: 60px;
    width: 60px;
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.scroll-to-top {
    height: 60px;
    width: 60px;
    background: #c59c3d;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.scroll-to-top:hover {
    opacity: 1;
}

.scroll-to-top img {
    width: 80%;
}

.hero-bg-img {
    width: 100%;
    height: 54rem;
    background-image: url(../Pictures/home.png);
}

.main-div {
    width: 100%;
    height: 54rem;
    background-color: hsla(233, 32%, 27%, 0.411);
    flex-direction: column;
    position: relative;
}

.main-navbar {
    width: 100%;
    height: 10%;
    align-items: end;
    position: absolute;
    top: 0px;
}

.navbar {
    width: 70%;
    height: 70%;
}

.header-left {
    width: 30%;
    height: 100%;
}

.header-left-box {
    width: 80%;
    height: 100%;
}

.logo-img {
    width: 100%;
}

.header-right {
    width: 70%;
    height: 95%;
    background-color: hsl(0deg 0% 100% / 71%);
    border-radius: 0.75rem;
}

.header-right-box {
    width: 80%;
    height: 100%;
}

.header-right-ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.header-right-ul-li-a {
    font-family: zurchn-regular;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    color: #2f345b;
}

.header-right-box-btn {
    width: 20%;
    height: 100%;
}

.header-right-btn {
    font-family: zurchn-regular;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    text-transform: capitalize;
    background-color: #2f345b;
    border: none;
    border-radius: 0.75rem;
    height: 2.5rem;
    width: 9rem;
}

.main-div-p {
    font-family: zurchn-regular;
    font-size: 3rem;
    color: white;
    text-transform: capitalize;
}

.search-bar-div {
    width: 100%;
    height: 5rem;
    position: relative;
}

.search-bar-div-ms {
    display: none;
}

.search-box {
    width: 70%;
    height: 100%;
    justify-content: left;
    position: absolute;
    bottom: 60%;
    align-items: self-end;
}

.label-select-div {
    width: 30%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.lable {
    width: 100%;
    height: 40%;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 20px;
    font-family: zurchn-regular;
    font-size: 1.3rem;
    color: white;
}

.select {
    justify-content: flex-start;
    width: 100%;
    height: 60%;
}

.custom-select-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.custom-select-box {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px 1.25rem;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: default;
    background: #f2cd74;
    font-family: zurchn-regular;
    font-size: 1.3rem;
    color: #2f345b;
}

.b-radius {
    border-radius: 0.6rem 0rem 0rem 0.6rem;
}

.custom-select-box span {
    flex-grow: 1;
}

.dropdown-icon {
    width: 1.25rem;
    height: 1.25rem;
    background-image: url("../Pictures/Polygon-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.custom-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f2cd74;
    border-radius: 0.6rem;
    max-height: 12.5rem;
    overflow: hidden;
    display: none;
    z-index: 99;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.custom-dropdown input[type="text"] {
    width: 100%;
    padding: 8px 10px;
    border: none;
    font-size: 1.2rem;
    color: #2f345b;
    font-family: zurchn-regular;
    background-color: #f2cd74;
    border-bottom: 2px solid #2f345b;
    outline: none;
}

.custom-dropdown input::placeholder {
    color: #2f345b;
    font-family: zurchn-regular;
}

.custom-dropdown div.option {
    padding: 10px;
    cursor: pointer;
}

.custom-dropdown div.option:hover {
    background: #c59c3d44;
}

.option {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}

.option img {
    width: 1.25rem;
    height: 1rem;
    object-fit: cover;
    border-radius: 2px;
}

.btn-div {
    width: 10%;
    height: 60%;
    background-color: #2f345b;
    border-radius: 0rem 0.6rem 0.6rem 0rem;
}

.selectedFlag {
    display: none;
    width: 1.25rem;
    height: 1rem;
    vertical-align: middle;
    margin-right: 8px;
}

.btn-div button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-family: zurchn-regular;
    font-size: 1.5rem;
    color: white;
}

.choose-us-div {
    width: 100%;
    height: 35rem;
    background-image: url(../Pictures/map.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
}

.choose-us-heading {
    width: 100%;
    height: 15%;
    flex-direction: column;
}

.choose-us-heading-div {
    width: 100%;
    height: 50%;
    font-family: zurchn-regular;
    font-weight: bold;
    font-size: 2.5rem;
    color: #2f345b;
    text-transform: uppercase;
}

.choose-us-p-div {
    width: 100%;
    height: 50%;
    font-family: zurchn-regular;
    font-size: 1.5rem;
    color: #2f345b;
}

.choose-us-benefit {
    width: 100%;
    height: 60%;
}

.choose-us-benefit-ul {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose-us-benefit-ul-li {
    width: 20%;
    height: 100%;
    background-color: #c59c3d;
    border-radius: 1rem;
}

.choose-us-benefit-ul-li:hover {
    box-shadow: 0px 0px 8px 1px #2f345b;
}

.choose-us-benefit-ul-li-div {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.choose-us-img {
    width: 100%;
    height: 20%;
    flex-direction: column;
}

.choose-us-img-icon {
    height: 100%;
}

.choose-us-title {
    width: 100%;
    height: 25%;
    flex-direction: column;
    font-family: zurchn-regular;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: white;
}

.choose-us-description {
    width: 85%;
    height: 20%;
    font-family: zurchn-regular;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    text-align: center;
}

.choose-us-counter-div {
    width: 80%;
    height: 20%;
    justify-content: space-evenly;
}

.choose-us-counter-div-1 {
    width: 17%;
    height: 70%;
    flex-direction: column;
}

.choose-us-counter-div-1-1 {
    width: 100%;
    height: 50%;
    font-family: zurchn-regular;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #2f345b;
}

.choose-us-counter-div-1-2 {
    width: 100%;
    height: 50%;
    font-family: zurchn-regular;
    font-size: 1.3rem;
    color: #2f345b;
}

.star-cls {
    background-color: #2f345b;
    color: white;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    margin: 5px;
}

.affiliations {
    width: 100%;
    height: 5rem;
    background-color: #2f345b;
    font-family: zurchn-regular;
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    margin: 1% 0% 1% 0%;
}

.sponsor {
    width: 100%;
    height: 9rem;
}

.sponsor-1 {
    width: 70%;
    height: 80%;
    justify-content: space-around;
}

.sponsor-1-01 {
    width: 50%;
    height: 100%;
}

.sponsor-1-1 {
    width: 95%;
    height: 95%;
    background-color: #c59c3d;
    border-radius: 1rem;
}

.sponsor-1-1:hover,
.sponsor-1-2:hover {
    width: 97%;
    height: 97%;
    box-shadow: 0px 0px 8px 1px #2f345b;
    transition-duration: 1s;
}

.sponsor-1-1-img {
    width: 20%;
    height: 100%;
}

.sponsor-1-1-img-icon {
    height: 80%;
}

.sponsor-1-2-img-icon {
    width: 75%;
}

.sponsor-1-2 {
    width: 95%;
    height: 95%;
    background-color: #c59c3d;
    border-radius: 1rem;
}

.sponsor-1-1-text {
    width: 80%;
    height: 100%;
    font-family: zurchn-regular;
    font-size: 1rem;
    text-transform: capitalize;
    color: white;
    line-height: 1.5rem;
    text-align: center;
    padding-right: 10px;
}

.services-main-div {
    width: 100%;
    height: 40rem;
}

.services-left-angle {
    font-size: 3.125rem;
    font-weight: bold;
    display: none;
}

/* When hovering over the main div, show the arrows */
.services-main-div:hover .services-left-angle {
    display: block;
}

.services-div {
    width: 80%;
    height: 100%;
}

.services-left {
    width: 45%;
    height: 100%;
}

.services-left-box {
    width: 90%;
    height: 100%;
    flex-direction: column;
    justify-content: end;
}

.services-img-div {
    width: 30%;
    height: 30%;
    position: absolute;
    top: -12%;
    left: 35%;
}

.services-img {
    width: 100%;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 8px 1px #2f345b;
}

.services-text-div {
    width: 100%;
    height: 80%;
    position: relative;
}

.services-text-box {
    width: 100%;
    height: 95%;
    background-color: #c59c3d;
    border-radius: 1.25rem;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}

/* Target the heading inside services-text-box when hovering */
.services-text-box:hover {
    background-color: #f2cd74;
    /* New background on hover */
    box-shadow: 0px 0px 12px 1px #2f345b;
    transition-duration: 1s;
}

.services-text-box-div {
    width: 100%;
    height: 70%;
    flex-direction: column;
    justify-content: flex-start;
}

.services-heading {
    color: #2f345b;
    font-family: zurchn-regular;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 1.5rem;
}

.services-detail {
    font-family: zurchn-regular;
    font-size: 1.5rem;
    color: white;
    box-sizing: border-box;
    padding: 0px 1.5rem;
    text-align: justify;
    line-height: 2.2rem;
}

.services-right {
    width: 45%;
    height: 100%;
}

.services-dots-div {
    width: 100%;
    height: 5rem;
}

.services-dots {
    width: 10%;
    height: 100%;
    justify-content: space-between;
}

.dot-1 {
    width: 1rem;
    height: 1rem;
    background-color: #f2cd74;
    transform: rotate(45deg);
    border-radius: 2px;
}

/* Active dot color */
.services-dots .dot-1.active {
    background-color: #2f345b;
    /* active color */
}

/* .exhibitions-left{
    width: 35%;
    height: 100%;
     background-color: green; 
}
.exhibitions-img-div{
    width: 90%;
    height: 85%;
     background-color: #C59C3D; 
    border-radius: 20px;
}
.exhibitions-img-div img{
    height: 100%;
    border-radius: 20px;
}
.exhibitions-right{
    width: 50%;
    height: 100%;
    background-color: red; 
}
.exhibitions-text-div{
    width: 90%;
    height: 85%;
     background-color: #C59C3D; 
    border-radius: 20px;
    flex-direction: column;
}
.exhibitions-div-logo{
    width: 100%;
    height: 15%;
}
.exhibitions-div-logo img{
    height: 70%;
}
.exhibitions-div-detail{
    width: 100%;
    height: 15%;
     background-color: red; 
    font-family: zurchn-regular;
    font-size: 1.6rem;
    line-height: 40px;
    text-transform:capitalize ;
    color: #2F345B;
    text-align: center;
}
.exhibitions-div-date{
    width: 100%;
    height: 30%;
     background-color: gray; 
    flex-direction: column;
}
.exhibitions-div-date i {
    font-size: 50px;
    color: #C59C3D;
}
.exhibitions-div-date p{
    box-sizing: border-box;
    padding-top: 25px;
    font-family: zurchn-regular;
    font-size: 2.5rem;
    color: #2F345B;
}
.exhibitions-div-location{
    width: 100%;
    height: 30%;
    background-color: gray; 
    flex-direction: column;
}
.exhibitions-div-location i {
    font-size: 50px;
    color: #C59C3D;
}
.exhibitions-div-location p{
    box-sizing: border-box;
    padding-top: 25px;
    font-family: zurchn-regular;
    font-size: 30px;
    color: #2F345B;
    text-align: center;
}
.exhibitions-div-slider{
    width: 100%;
    height: 3rem;
    flex-direction: column;
    justify-content: flex-end;
}
.exhibitions-left-angle{
    font-size: 3.1rem;
    font-weight: bold;
    display: none;
}
 When hovering over the main div, show the arrows 
.services-main-div:hover .exhibitions-left-angle {
    display: block;
}
.exhibitions-div-slider p{
    font-family: zurchn-regular;
    font-weight: 700;
    font-size: 1.7rem;
    color: #2F345B;
}

.exhibitions-div-slider-span {
    color: #f2cd74;
    animation: count-up 25s infinite;
  }
  .exhibitions-div-slider-span-1 {
    color: #C59C3D;
  }
  
  @keyframes count-up {
    0%, 20% { content: "1"; }
    20%, 40% { content: "2"; }
    40%, 60% { content: "3"; }
    60%, 80% { content: "4"; }
    80%, 100% { content: "5"; }
  }

.exhibitions-slider-line {
    width: 20%;
    height: 10%;
    background-color: #C59C3D;
    position: relative;
    overflow: hidden;
}
.exhibitions-slider-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f2cd74;
    animation: fillRight 3000ms linear forwards infinite;
}

@keyframes fillRight {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
} */
.ex-blog-line {
    width: 100%;
    height: 4rem;
}

.full-line {
    width: 100%;
    height: 10%;
    background-color: #2f345b;
}

.blog-main-div {
    width: 100%;
    height: 30rem;
}

.blog-div {
    width: 78%;
    height: 100%;
    flex-direction: column;
}

.blog-heading-div {
    width: 100%;
    height: 15%;
    color: #c59c3d;
    font-family: zurchn-regular;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 2px;
    align-items: start;
}

.blog-detail-div {
    width: 100%;
    height: 85%;
    justify-content: space-evenly;
}

.blog-detail-div-box {
    width: 92%;
    height: 100%;
    flex-direction: column;
    background-color: #c59c3d;
    border-radius: 1.5rem;
    box-shadow: -7px 0px 0px 0px #2f345b;
}

.blog-left-angle {
    font-size: 2.5rem;
    font-weight: bold;
    display: none;
}

/* When hovering over the main div, show the arrows */
.blog-main-div:hover .blog-left-angle {
    display: block;
}

.blog-top-div {
    width: 100%;
    height: 80%;
}

.blog-left-div {
    width: 25%;
    height: 100%;
}

.blog-img-div {
    width: 80%;
    height: 80%;
    border-radius: 1.25rem;
    background-image: url(../Pictures/image-41.png);
    background-size: cover;
}

.blog-right-div {
    width: 75%;
    height: 100%;
}

.blog-text-detail-div {
    width: 95%;
    height: 90%;
    flex-direction: column;
}

.blog-detail-heading-div {
    width: 100%;
    height: 20%;
    color: white;
    font-family: zurchn-regular;
    font-size: 2rem;
    justify-content: flex-start;
    text-transform: capitalize;
    position: relative;
    /* important for ::after positioning */
    overflow: hidden;
}

.blog-detail-heading-div p {
    display: inline-block;
    position: relative;
    cursor: pointer;
    /* optional, for hover feel */
}

.blog-detail-heading-div p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    /* little below the text */
    width: 0%;
    height: 2px;
    background-color: #2f345b;
    /* white underline */
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.blog-detail-heading-div p:hover {
    color: #2f345b;
    /* <--- new text color on hover */
}

.blog-detail-heading-div p:hover::after {
    width: 100%;
}

.blog-info-div {
    width: 100%;
    height: 15%;
    justify-content: flex-start;
}

.by-author-div {
    width: 15%;
    height: 100%;
    justify-content: flex-start;
    color: white;
    font-family: zurchn-regular;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

.comments-div {
    width: 19%;
    height: 100%;
    justify-content: space-between;
    color: white;
    font-family: zurchn-regular;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.comments-div i {
    color: #2f345b;
}

.blog-detail-text {
    width: 100%;
    height: 65%;
    font-family: zurchn-regular;
    font-size: 1.2rem;
    color: white;
    line-height: 2rem;
    text-align: justify;
    align-items: self-start;
}

.blog-bottom-div {
    width: 100%;
    height: 20%;
    border-top: 3px dotted #2f345b;
    justify-content: flex-end;
}

.blog-bottom-left-div {
    width: 45%;
    height: 100%;
    color: white;
    font-family: zurchn-regular;
    font-size: 1.2rem;
    justify-content: space-between;
}

.blog-bottom-left-div span:hover {
    color: #2f345b;
}

.blog-bottom-right-div {
    width: 53%;
    height: 100%;
}

.blog-buttom-view {
    width: 70%;
    height: 100%;
    color: white;
    font-family: zurchn-regular;
    font-size: 1.2rem;
    justify-content: flex-end;
    text-transform: capitalize;
}

.blog-button-view-div {
    height: 100%;
    width: 26%;
    justify-content: space-between;
}

.blog-buttom-view i {
    color: #2f345b;
}

.blog-buttom-time {
    width: 30%;
    height: 100%;
    color: white;
    font-family: zurchn-regular;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.blog-button-time-div {
    height: 100%;
    width: 58%;
    justify-content: space-between;
}

.blog-buttom-time i {
    color: #2f345b;
}

.blog-review-line {
    width: 100%;
    height: 4rem;
}

.main-div-our-customers {
    width: 100%;
    height: 22rem;
}

.div-our-customers {
    width: 70%;
    height: 100%;
    flex-direction: column;
}

.our-customers-heading {
    width: 100%;
    height: 10%;
    color: #c59c3d;
    font-family: zurchn-regular;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.our-customers-heading p{
    width: 45%;
    height: 100%;
    justify-content: flex-start;
}

.our-customers-text {
    width: 100%;
    height: 65%;
    display: flex;
}

.our-customers-left {
    width: 25%;
    height: 100%;
    flex-direction: column;
}

.circle-img {
    width: 190px;
    height: 200px;
    background-image: url(../Pictures/image\ 3.png);
    background-size: cover;
    border-radius: 15rem;
}

.our-customers-star-cls {
    background-color: #2f345b;
    color: white;
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    margin: 5px;
}

.our-customers-right {
    width: 74%;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    font-family: zurchn-regular;
    color: #2f345b;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: justify;
}
.our-customers-bottom-div {
    width: 100%;
    height: 5rem;
}

.our-customers-bottom {
    width: 80%;
    height: 100%;
    color: #2f345b;
    font-family: zurchn-regular;
    font-size: 1.5rem;
    justify-content: space-between;
}

.our-customers-bottom-left-arrow {
    height: 50%;
}

.main-footer-div {
    width: 100%;
    height: 30rem;
    background-color: #c59c3d;
    background-image: url(../Pictures/bildings.png);
    background-size: cover;
    flex-direction: column;
}

.footer-div {
    width: 100%;
    height: 90%;
    align-items: flex-end;
}

.footer-box {
    width: 80%;
    height: 90%;
    flex-direction: column;
}

.footer-box-top {
    width: 100%;
    height: 85%;
}

.footer-left-div {
    width: 35%;
    height: 100%;
    align-items: self-start;
    flex-direction: column;
}

.footer-logo-div {
    width: 100%;
    height: 25%;
    justify-content: left;
    align-items: self-start;
}

.footer-logo-div img {
    width: 60%;
}

.footer-e-mail-div {
    width: 100%;
    height: 75%;
    justify-content: left;
}
.footer-e-mail-div-2 {
    display: none;
}
.left-footer-center {
    width: 85%;
    height: 100%;
    position: relative;
    justify-content: left;
}

.left-footer-center input {
    width: 65%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #2f345b;
    color: white;
    font-family: zurchn-regular;
    font-size: 1.5rem;
}

.left-footer-center input:focus,
input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari  */
    color: white;
}


.left-footer-center-btn {
    color: white;
    background-color: #2f345b;
    font-family: zurchn-regular;
    font-size: 1.2rem;
    border: none;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    right: 34%;
    bottom: 46%;
}

.left-footer-center-bottom {
    width: 80%;
    height: 30%;
    justify-content: start;
}
.center-right-div{
    width: 65%;
    height: 100%;
}
.footer-center-div {
    width: 30%;
    height: 100%;
}

.center-footer {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-pages-heading {
    width: 100%;
    height: 22%;
    align-items: self-start;
    justify-content: flex-start;
    font-family: zurchn-regular;
    color: #2f345b;
    font-size: 2rem;
    font-weight: bold;
}

.footer-center-heading-div {
    width: 50%;
    height: 60%;
    align-items: self-start;
}

.footer-center-heading-div ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;
    color: white;
}

.footer-center-heading-div ul li a {
    color: white;
    letter-spacing: 1.2px;
    font-size: 1.5rem;
    font-weight: 550;
}

.footer-right-div {
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-right-contact-div {
    width: 100%;
    height: 22%;
    font-family: zurchn-regular;
    color: #2f345b;
    font-size: 2rem;
    font-weight: bold;
    justify-content: flex-start;
    align-items: self-start;
}

.footer-right-number-div {
    width: 100%;
    height: 15%;
}

.footer-right-icon-contact {
    width: 7%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-icon {
    color: #f2cd74;
    font-size: 2rem;
}

.footer-right-contact-detail {
    width: 93%;
    height: 100%;
    align-items: self-start;
    justify-content: flex-start;
    font-family: zurchn-regular;
    color: white;
    font-size: 1.5rem;
    line-height: 35px;
}

.footer-right-email-div {
    width: 100%;
    height: 15%;
}

.footer-right-address-div {
    width: 100%;
    height: 15%;
}

.footer-box-bottom {
    width: 100%;
    height: 15%;
}

.left-footer-center-bottom {
    width: 100%;
    height: 100%;
    justify-content: start;
}

.footer-center-div-1-1 {
    width: 15%;
    height: 100%;
    justify-content: space-between;
}

.footer-center-icon-cls {
    background-color: #f2cd74;
    color: #2f345b;
    font-size: 1.6rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.footer-bottom {
    width: 100%;
    height: 10%;
    background-color: #f2cd74;
    color: #c59c3d;
    font-family: zurchn-regular;
}